@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

@import 'tailwindcss/base';

@layer base {
  :root {
    --font-caveat-brush-regular: "Caveat Brush", cursive;
    --font-finger-paint-regular: "Finger Paint", sans-serif;
    --font-bbh-bartle-regular: "BBH Bartle", sans-serif;
    --font-henny-penny-regular: "Henny Penny", system-ui;
    --font-irish-grover-regular: "Irish Grover", system-ui;
  }

  .font-caveat-brush-regular {
    font-family: var(--font-caveat-brush-regular);
  }
  .font-finger-paint-regular {
    font-family: var(--font-finger-paint-regular);
  }
  .font-bbh-bartle-regular {
    font-family: var(--font-bbh-bartle-regular);
  }
  .font-henny-penny-regular {
    font-family: var(--font-henny-penny-regular);
  }
  .font-irish-grover-regular {
    font-family: var(--font-irish-grover-regular);
  }
}

html, body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
